# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
org-javacream/projects/javacream/clock/node_modules/.cache/terser-webpack/content-v2/sha512/56/2b/d2c2b7fcee48467fc96fad3cfed383d3ff1c9819ed4bce4ecd61d6b0592a369dc544a70e544bf4de2064a11b6677f6c1b542a589b9e371e229d0f43a5c71
org-javacream/projects/javacream/clock/node_modules/.cache/terser-webpack/content-v2/sha512/b0/f5/8d33d6f08f775b9ab1a317f350be077113cabda3ef847efd99691ce6c6628c343db06028367c1e80542da5857b549b7dd7e345f05e52f35e86198e8ffe91
org-javacream/projects/javacream/clock/node_modules/.cache/terser-webpack/content-v2/sha512/bc/5c/c1aa5afc83a325006bbab1b1ea7f9212b166332ee76503defa25b3558e53b8283f021ab0d8432bf3cc572038d538ae0364b278864b2318e4c5cb4f1bb9df
org-javacream/projects/javacream/clock/node_modules/.cache/terser-webpack/content-v2/sha512/d1/28/17266f12779cf4bcc1758a2d54d6e29f5a54721cc2afd7f5265630b728fd173670318c37685b71437cd631c876b091b3a7f2189db14257432daeef0c695f
