.library {
    display: flex;
    justify-content: center;
    background: var(--library-bg);
    padding: 1.5rem 0;
  }

  .library-display {
    width: 80vw;
    height: calc(100vh - 5rem);
    padding: 1rem;
    background: var(--library-content-bg);
    color: var(--display-color);
    border-radius: 15px;
    font-size: 1.5rem;
  }

.library-content {
  padding-top: 15px;
  padding-bottom: 15px;
}